---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Pics from '@/components/pics.vue'
---

<BaseLayout title="Pictures" description="Some nice pictures from my gallery">
  <section>
    <Pics />
  </section>
</BaseLayout>
