html.dark {
  --dot-bg-color: #060707;
  --dot-color: #197e79;
  --dot-mask-color: #001f3f;
}

html:not(.dark) {
  --dot-bg-color: #e2e6f6;
  --dot-color: #f311d4;
  --dot-mask-color: #ffffff;
}

@keyframes moveDots {
  0% {
    background-position: 0 0;
    opacity: 0.8;
  }
  25% {
    background-position: 6px 6px;
    opacity: 0.9;
  }
  50% {
    background-position: 12px 12px;
    opacity: 1;
  }
  75% {
    background-position: 18px 18px;
    opacity: 0.9;
  }
  100% {
    background-position: 24px 24px;
    opacity: 0.8;
  }
}

.bg-dot::before {
  content: '';
  position: absolute;
  inset: 0;
  background:
    linear-gradient(90deg, var(--dot-bg-color) 22px, transparent 1%) 50%,
    linear-gradient(var(--dot-bg-color) 22px, transparent 1%) 50%,
    var(--dot-color);
  background-position: center center;
  background-size: 24px 24px;
  mask-image: linear-gradient(1deg, transparent 5%, var(--dot-mask-color));
  animation: moveDots 5s infinite linear;
}
