.main-container{
    overflow: auto;
}
.navbar{
position: sticky;
position: -webkit-sticky;
top: 0;
z-index: 100;
background-image: url(/assets/images/about.gif);
}
ul{
list-style-type: none;
margin: 0;
padding: 0px;
overflow: hidden;
border: 5px solid white;
border-radius: 12px;
}
li{
float: right;
border-right: 1px solid #bbb;
}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover{
background-color: crimson;
}
body{
    text-align: center;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-image: url(/assets/images/homeback.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center center;
}
.footer{
    box-shadow: 0 0 10px;
    padding: 20px;
}
a.hlink1{
    color: lime;
}
a.feet{
    color: lime;
}
.fnav{
    display: flex;
    justify-content: space-around;
}
.home{
    text-shadow: 1px 1px 2px black, 0 0 20px lime, 0 0 5px greenyellow;
}