*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background: url(/assets/images/academicsbackground.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: aliceblue;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 36px;
    color: crimson;
    font-weight: 600;
    text-decoration: none;
}

.navbar a{
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active{
    color: crimson;
}

@media(max-width: 768px){
    .navbar {
        flex-direction: column;
        font-size: 16px;
        padding: 5px;
        text-align: center;
    }
}

.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    height: 100vh;
}

.content-about{
    align-items: center;
    color: white;
    font-size: 40px;
    font-weight: 300;
}

.sociallinks{
    display: contents;
    justify-content: space-between;
    margin-left: 10px;
    position: absolute;
    width: 140px;
    bottom: 50px;
    background: transparent;
}

.sociallinks a{
    color: white;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    left: 0;
    margin-right: 20px;
    background: transparent;
    text-decoration: none;
    font-size: 52px;
    transition: .5s;
}

footer{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
