*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 7.5rem;
}
a{
    text-decoration: none;
}
.logo{
    font-size: 5vmin;
}
.logo a{
    font-family: cursive;
    color: black;
    transition: 0.6s;
}
.logo a:hover{
   color: crimson;
   margin-left: 10px;
   box-shadow: 10px 10px 10px gray;
}

ul{
    list-style: none;
}

.topnav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(228, 221, 221);
    padding: 25px;
}
.links{
    display: flex;
    align-items: center;
}

.links li{
    margin: 0 30px;
    font-size: 3vmin;
}
.links li a{
    color: black;
    transition: 0.5s;
    font-weight: 900;
}
.links li a:hover{
    color: rgba(26, 65, 206, 0.884);
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 10px 10px 10px gray;
}

@media only screen and (max-width: 850px){
    .links{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 5px;
        font-size: 16px;
        width: 100%;
    }
    .links li{
        font-size: 5vmin;
    }
    .logo{
        font-size: 12vmin;
    }
    .content-header h1{
        font-size: 10vmin;
    }
    .about h1{
        margin: auto;
        margin-left: 0;
    }
    .contact-list a{
        display: flex;
    }
}

header{
    height: 150vh;
    width: 100%;
    background-color: rgb(32, 22, 22);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-header{
    padding-top: 100px;
    color: white;
    margin-top: 200px;
    font-size: 7vmin;
}

.line{
    background-color: crimson;
    width: 200px;
    height: 5px;
    margin: 10px auto;
}

.content-header h1{
    color: white;
    font-size: 16vmin;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
    cursor: default;
}

.content-header h1 span{
    transition: 0.6s ease-in-out;
}
.content-header h1:hover span{
    margin-right: 10px;
    margin-left: 10px;
}
h1:hover span {
    color: lime;
    text-shadow:  1px 1px 10px black ;
  }

.content-header p{
    display: flex;
    margin-top: 100px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
}

section{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.about h1{
    font-size: 10vmin;
    margin-top: 100px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about p{
    font-size: 6vmin;
    color: black;
    margin-left: 20px;
}
.academics{
    padding-top: 100px;
    background-color: rgba(229, 237, 235, 0.969);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.academics h1{
    color: black;
    font-size: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.academics h2{
    color: black;
    font-size: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.academics ol{
    color: black;
    font-size: 6vmin;
    flex-direction: column;
    margin-left: 25px;
    align-items: center;
    padding-bottom: 100px;
}

.contact-section {
    padding: 40px;
    background-color: aliceblue;
}

.contact-section h2 {
    font-size: 10vmin;
    margin-bottom: 10px;
    margin-left: 10px;
}


.contact-list {
    list-style: none;
    padding: 10px;
}

.contact-list li {
    margin: 10px 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.contact-list a {
    padding: 10px 20px;
    font-size: 7vmin;
    transition: 0.6s;
}
.contact-list a:hover{
    margin-left: 10px;
    margin-right: 10px;
    background-color: dodgerblue;
    border-radius: 100%;
    box-shadow: 10px 10px 10px gray;
}
