*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}
body{
    background-color: black;
    background-image: url(/assets/images/Wonderland_.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
@media only screen and (max-width: 850px){
    body{
        background-size: cover;
    }

}
.dis h3{
    color: lime;
    text-align: center;
    margin-top: 300px;
    font-size: x-large;
    font-family: monospace;
}