*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.logo{
    color: crimson;
    font-size: 5vmin;
}

ul{
    list-style: none;
}

.topnav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: aliceblue;
    padding: 25px;
}
.links{
    display: flex;
    align-items: center;
}

.links li{
    margin: 0 30px;
    font-size: 3vmin;
}
.links li a{
    color: black;
    transition: 0.5s;
    font-weight: 400;
}
.links li a:hover{
    color: crimson;
}
.links li a.active{
    color: crimson;
    font-weight: bold;
    font-family: monospace;
}

@media only screen and (max-width: 850px){
    .links{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 5px;
        font-size: 16px;
        width: 100%;
    }
    .links li{
        font-size: 4vmin;
    }
    .logo{
        font-size: 8vmin;
    }
    .about h1{
        margin: auto;
        margin-left: 0;
    }
}

header{
    height: 100vh;
    width: 100%;
    background-image: url(/assets/images/academicsbackground.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-header{
    padding-top: 100px;
    color: white;
    margin-top: 200px;
    font-size: 7vmin;
}

.line{
    background-color: crimson;
    width: 200px;
    height: 5px;
    margin: 10px auto;
}

.content-header h1{
    font-size: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
    text-shadow: 1px 1px crimson, 2px 2px yellowgreen, 3px 3px crimson;
}

.content-header p{
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
}

section{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/images/about.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.about h1{
    font-size: 10vmin;
    margin-top: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about p{
    font-size: 6vmin;
    color: white;
    margin-left: 20px;
}
.academics{
    padding-top: 150px;
    background-image: url(/assets/images/academicsbackground.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.academics h1{
    color: white;
    font-size: 7vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.academics h2{
    color: white;
    font-size: 7vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
.academics ol{
    color: white;
    font-size: 4vmin;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}
.connect{
    background-image: url(/assets/images/about.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4vmin;
    padding-bottom: 100px;
    padding-top: 100px;
}

.sociallinks{
    display: contents;
    justify-content: space-between;
    margin-left: 10px;
    position: absolute;
    width: 140px;
    bottom: 50px;
    background: transparent;
}

.sociallinks a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    left: 0;
    margin-right: 20px;
    background: transparent;
    text-decoration: none;
    font-size: 52px;
}
footer{
    background-image: url(/assets/images/about.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
